VITE_VAPID_PUBLIC_KEY=BMiAewYmfhdvCyo7pKttizW0k4HmuqUV04wz61Kdu-DpMI_7OIZGKIDZpA64LKnhdPKploSHXiuEZdpa20x3Dvs
# Copia este archivo a .env y reemplaza con tu clave real de Google Maps.
VITE_GOOGLE_MAPS_API_KEY=TU_CLAVE_DE_GOOGLE_MAPS_AQUI
